/* POINTER */
html {
    scroll-behavior: smooth;
}

/* global */
a {
    text-decoration: none;

}

body {
    padding: 0;
    margin: 0;
}

/* Header */
.divs{
    list-style-type: none;
    float: center;
    
}

#top {
    height: 50px;
    background-color: rgba(19, 19, 19, 0.911);
    line-height: 0;
    position: fixed;
    width: 100%;
    padding: 10px 35%;
    font-size: 40px
}

.icon1 {
    height: 70px;
}

.list1{
    float: left;
    padding: 10px 30px;
    font-size: 20px;
}
.list1{
    float: left;
    padding: 10px 30px;
    padding-left: 5px;
    font-size: 20px;
}

.colorA{
    color: rgba(236, 236, 218, 0.911);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;

}

.colorB{
    color: red;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 10px;
    border-radius: 7px;
    border: 2px solid rgba(255, 0, 0, 0.671);
    transition: 0.8s;
} .colorB:hover{
    color:white;
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.671);
}

/* konten */
.textCoffee{
    padding: 40% 0px;
}
.textCoffee1{
    padding: 30% 0px;
}
.menuContent {
    padding: 10px;
    margin-left: 20%;
}

.geniusbrain {
    float: left;
    background-image: url(".img/hstore/Genius Brain.jpg.jpg");
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 10px 10px;
    background-size: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rgba(13, 66, 39, 0.39);
    cursor: pointer;
} .geniusbrain:hover {
    color: azure;
    opacity: 0.8;
}
.skincare {
    background-image: url("./img/hstore/SKINCARE.jpg");
    float: left;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 10px 10px;
    background-size: 100px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rgba(17, 66, 17, 0.568);
}   .skinkare:hover {
    color: azure;
    opacity: 0.8;
}

.labella {
    background-image: url("./img/labella");
    float: right;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 10px 10px;
    background-size: 200px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rgba(21, 78, 26, 0.568);
}   .labella:hover {
    color: azure;
    opacity: 0.8;
}

.oliv {
    background-image: url("./img/hstore/oliv.jpg");
    float: right;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 10px 10px;
    background-size: 200px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rgba(23, 90, 34, 0.568);
}   .oliv:hover {
    color: azure;
    opacity: 0.8;
}

.home-text {
    background-color: #fde2e28f;
    padding-bottom: 30px;
    padding-top: 1px;
    border-radius: 40px;
}
.home-text{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: red;
}
#home-text1 {
    font-size: 20px;
    font-weight: bolder;
}
.promo {
    font-weight: bold;
    font-size: 30px;
    color: blue;
}
.open{
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homeContent{
    background-image: url("./img/hstore/kantor.jpeg");
    text-align: center;
    color: rgb(93, 3, 3);
    padding: 7%;
    background-position-y: 20%;
    background-position-x: 3%;
}

.animasi-teks {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px; color: rgb(48, 11, 83);
}

.homecontent h1 {
    font-size: 100px;
    margin-top: -50px;
}
.homecontent h3 {
    font-size: 10px;
    padding-top: 0;
}
.homecontent img{
    height: 10px;
    margin-top: -80px;
}
.menu12{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* About */
.about {
    background-color: rgb(15, 15, 15);
    display: inline-block;
    color: aliceblue;
    text-align: center;
    width: 100%;
}
#about{
    font-size: 20px;
}
#about h3 {
    font-size: 70px;
    margin-top: 20px;
}
.about1 {
    margin-top: -40px;
}
.about2 h4 {
    margin-top: 50px;
    font-size: 30px;
    color: coral;
}
.about2 p{
    font-size: 20px;
}
.about3 {
    margin-top: -30px;
}
.about4 {
    margin-top: -30px;
}
.about5 {
    margin-top: 50px;
    font-size: 30px;
    color: coral;
}
.about6 p{
    font-size: 20px;
}
/* footer */
footer{
    text-align: center;
    font-size: 25px;
}